:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Mono';
  src: url('fonts/mono.ttf');
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Mono';
  position: relative;
  background-color: black;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-p5-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
